@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F9A8D4;
  --color-secondary: #86EFAC;
  --color-background: #FDF2F8;
  --color-text: #4B5563;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Arial', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
